@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --main-color: #000;
  --font: Amiri, serif;
}

body {
  background: var(--background);
  color: var(--main-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}
