@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --main-color: #000;
  --font: Amiri, serif;
}

body {
  background: var(--background);
  color: var(--main-color);
}
